.button-1{
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: linear-gradient(
        -45deg, #9925ea #338aff, #9925ea
    );
    background-size: 400%;
    background-position: 90% 0;
    color: #ffffff;
    transition: background 0.8s;
}

.button-1:hover{
    background-position: 185% 50%;
}

.button-2{
    position: relative;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: #16b081;
    color: #ffffff;
    transition: all 0.3s;
}

.button-2:hover{
    background: transparent;
    letter-spacing: 2px;
}

.button-2::before{
    top:0;
}

.button-2::after{
    bottom: 0;
}

.button-2:hover::before,
.button-2:hover::after{
    transform: scaleX(1);
}

.button-2::before,
.button-2::after{
    content: "";
    position: absolute;
    left: 0;
    transform: scaleX(0);
    width: 100%;
    height: 0.5px;
    background: white;
    transition: all 0.3s;
}

.button-3{
    height: 3.5rem;
    padding: 0 2rem;
    border-radius: 0.375rem;
    background: #4503dc;
    color: #ffffff;
    box-shadow: 0 0.4rem 0 0 #3700b8;
    letter-spacing: 3px;
    transition: all 0.3s;
}

.button-3:active{
    transform: translateY(0.3rem);
    box-shadow: 0 0.2rem 0 0 #3700b8;
}

.button-4{
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: #3d384e;
    background-size: 400%;
    color: #ffffff;
}

/* make a span inside the button-4 innerHTML */
.button-4:hover::before{
    transform: scaleX(1);
}

.button-4-content{
    position: relative;
    z-index: 1;
}

.button-4::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(
        83.2deg,
        rgba(150, 93, 233, 1) 10.8%,
        rgba(99, 88, 238, 1) 94.3%
    );
    transition: all 0.475s;
}