<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <title>21BCSE30 | ANIKET PATRA</title>
  </head>
  <body>
    <div id="title">
      <img id="logo" src="./images/logo.png" alt="error" />
      <h1>Silicon University</h1>
    </div>
    <div id="body">
      <h2>Contact Us At the below Address</h2>
      <p>
        Silicon Institute of Technology, Silicon Hills, Patia Bhubaneswar –
        751024 Odisha, India
      </p>
    </div>
    <img id="silicon-block" src="./images/silicon.jpg" alt="" srcset="" />
  </body>
</html>
