<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <title>21BCSE30 | ANIKET PATRA</title>
  </head>
  <body>
    <div id="title">
      <img id="logo" src="./images/logo.png" alt="error" />
      <h1>Silicon University</h1>
    </div>
    <div id="body">
      Silicon Institute of Technology, Bhubaneswar has been upgraded to Silicon
      University. Silicon has a NAAC Grade A accreditation. Three of our
      undergraduate programs, CSE, ECE, and EEE, are NBA accredited. We are
      placed in the Band 151-300 in the Innovation Category, in NIRF Rankings
      2023. Silicon was ranked 161 in Engineering in NIRF Rankings 2022.
    </div>
  </body>
</html>
